In [2]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from itertools import cycle, islice

In [3]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
data = pd.read_csv('/content/drive/MyDrive/minute_weather.csv')

In [5]:
data.shape

(1587257, 13)

In [6]:
data.head()

   rowID     hpwren_timestamp  ...  rain_duration  relative_humidity
0      0  2011-09-10 00:00:49  ...            NaN               60.5
1      1  2011-09-10 00:01:49  ...            0.0               39.9
2      2  2011-09-10 00:02:49  ...            0.0               43.0
3      3  2011-09-10 00:03:49  ...            0.0               49.5
4      4  2011-09-10 00:04:49  ...            0.0               58.8

[5 rows x 13 columns]

In [7]:
#data sampling
sampled_df = data[(data['rowID'] % 10) == 0]
sampled_df.shape

(158726, 13)

In [8]:
sampled_df.describe().transpose()

                       count           mean  ...         75%         max
rowID               158726.0  793625.000000  ...  1190437.50  1587250.00
air_pressure        158726.0     916.830161  ...      918.70      929.50
air_temp            158726.0      61.851589  ...       70.88       99.50
avg_wind_direction  158680.0     162.156100  ...      217.00      359.00
avg_wind_speed      158680.0       2.775215  ...        3.80       31.90
max_wind_direction  158680.0     163.462144  ...      223.00      359.00
max_wind_speed      158680.0       3.400558  ...        4.60       36.00
min_wind_direction  158680.0     166.774017  ...      212.00      359.00
min_wind_speed      158680.0       2.134664  ...        3.00       31.60
rain_accumulation   158725.0       0.000318  ...        0.00        3.12
rain_duration       158725.0       0.409627  ...        0.00     2960.00
relative_humidity   158726.0      47.609470  ...       68.00       93.00

[12 rows x 8 columns]

In [9]:
sampled_df[sampled_df['rain_accumulation'] == 0].shape

(157812, 13)

In [10]:
sampled_df[sampled_df['rain_duration'] == 0].shape

(157237, 13)

In [11]:
del sampled_df['rain_accumulation']
del sampled_df['rain_duration']

In [12]:
rows_before = sampled_df.shape[0]
sampled_df = sampled_df.dropna()
rows_after = sampled_df.shape[0]

In [13]:
rows_before - rows_after

46

In [14]:
sampled_df.columns

Index(['rowID', 'hpwren_timestamp', 'air_pressure', 'air_temp',
       'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction',
       'max_wind_speed', 'min_wind_direction', 'min_wind_speed',
       'relative_humidity'],
      dtype='object')

In [15]:
features = ['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction', 'max_wind_speed','relative_humidity']

In [16]:
select_df = sampled_df[features]

In [17]:
select_df.columns

Index(['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed',
       'max_wind_direction', 'max_wind_speed', 'relative_humidity'],
      dtype='object')

In [18]:
select_df

         air_pressure  air_temp  ...  max_wind_speed  relative_humidity
0               912.3     64.76  ...             1.6               60.5
10              912.3     62.24  ...             1.8               38.5
20              912.2     63.32  ...             2.5               58.3
30              912.2     62.60  ...             2.4               57.9
40              912.2     64.04  ...             2.9               57.4
...               ...       ...  ...             ...                ...
1587210         915.9     75.56  ...             1.3               47.8
1587220         915.9     75.56  ...             1.4               48.0
1587230         915.9     75.56  ...             1.7               48.0
1587240         915.9     75.20  ...             1.6               46.3
1587250         915.9     74.84  ...             1.9               46.1

[158680 rows x 7 columns]

In [19]:
X = StandardScaler().fit_transform(select_df)
X

array([[-1.48456281,  0.24544455, -0.68385323, ..., -0.62153592,
        -0.74440309,  0.49233835],
       [-1.48456281,  0.03247142, -0.19055941, ...,  0.03826701,
        -0.66171726, -0.34710804],
       [-1.51733167,  0.12374562, -0.65236639, ..., -0.44847286,
        -0.37231683,  0.40839371],
       ...,
       [-0.30488381,  1.15818654,  1.90856325, ...,  2.0393087 ,
        -0.70306017,  0.01538018],
       [-0.30488381,  1.12776181,  2.06599745, ..., -1.67073075,
        -0.74440309, -0.04948614],
       [-0.30488381,  1.09733708, -1.63895404, ..., -1.55174989,
        -0.62037434, -0.05711747]])

In [20]:
#Using kmeans clustering
kmeans = KMeans(n_clusters=12)
model = kmeans.fit(X)
print("model\n", model)

model
 KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=12, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [21]:
centers = model.cluster_centers_
centers

array([[ 0.06360158, -0.79106984, -1.19865111, -0.57036444, -1.04474114,
        -0.58494759,  0.88013875],
       [-0.7245782 ,  0.51194369,  0.17191124, -0.58229578,  0.34128394,
        -0.59563459, -0.08826078],
       [-0.20840982,  0.63345726,  0.40875435,  0.73440934,  0.51698859,
         0.67243274, -0.15328594],
       [ 1.19040416, -0.25450331, -1.1549009 ,  2.12106046, -1.05336487,
         2.23776343, -1.13465193],
       [-1.1831215 , -0.87028195,  0.44681341,  1.98322667,  0.53830956,
         1.9442532 ,  0.90866143],
       [ 0.13574177,  0.83434575,  1.41344862, -0.63899948,  1.67791749,
        -0.59005644, -0.71379529],
       [-0.16372869,  0.86324348, -1.31172732, -0.58942801, -1.16773268,
        -0.6047306 , -0.64119682],
       [ 0.25182364, -0.99684608,  0.65839645, -0.54672097,  0.84872262,
        -0.52936112,  1.15827623],
       [ 0.23422959,  0.32038874,  1.88815273, -0.65179307, -1.55172536,
        -0.57665647, -0.28363417],
       [ 0.68752537,  0.48036551,  0.28249096, -0.53878886,  0.46892137,
        -0.54507948, -0.76332259],
       [-0.83542211, -1.20432314,  0.37675641,  0.37001863,  0.47501918,
         0.3578328 ,  1.36568446],
       [ 1.36796382, -0.08175169, -1.20532878, -0.05333267, -1.073853  ,
        -0.03317495, -0.97765783]])